body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

button {
    margin-left: 10px;
}

textarea {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    box-sizing: border-box;
    white-space: pre;
    overflow-wrap: break-word;
}

#calendarEntries {
    margin-top: 20px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    max-width: 600px;
}

.entry-div {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h3 {
    background-color: blueviolet;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

h3.time-off {
    background-color: gray;
    color: white;
    margin-left: 10px;
}

p {
    margin: 5px 0;
}

.item-date {
    background-color: #f0f8ff;
    color: #000080;
    padding: 5px;
    border-radius: 3px;
}

.item-end {
    background-color: #f0f8ff;
    /* Light blue background */
    color: #000080;
    /* Navy text */
    padding: 5px;
    border-radius: 3px;
}

.item-default {
    margin-left: 20px;
    /* Shift to the right */
}